.login,
.signup {
  background-color: #00203fff;
  margin: auto;
  width: 30%;
  margin-bottom: 2em;
  margin-top: 5rem;
}
.todo {
  background-color: rgb(0, 31, 63);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin: auto;
  width: 100%
  /* margin-bottom: 2em;
  margin-top: 5rem; */
}
label,
.login-footer {
  color: white;
}

.heading {
  color: white;
  text-align: center;
}

.login-button {
  margin-bottom: 1rem;
}
.nav-button {
  background-color: #0274d874;
  border-color: #0274d874;
}
